html, body {
  margin: 0;
  padding: 0;
  background-color:#AED6F1 ;
}
canvas {
  z-index:1;
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
}

@font-face{
  font-family: titleFont;
  src:url(assets/fonts/Koulen-Regular.ttf)
}

#title{
  font-family:titleFont;
  font-size:50px;
  color:#e6a1cf;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.bg-image{
  filter:blur(1px);
  -webkit-filter:blur(1px);
}

#inside{
  color:#5eeb34;
}
